<!DOCTYPE html>
<html th:replace="layouts/masterLayout :: layout(~{::main})" xmlns:th="http://www.thymeleaf.org">
<body>
<main role="main">

    <div class="col">
        <div id="map_div" style="width: 300px; height: 450px; float: right; margin-left: 20px"></div>
    </div>



<div class="container" style="margin-top: 2rem;">
    <a th:href="@{/states}" id="allStatesButton" class="btn btn-primary">Show All States</a>
    <h1>Find your States</h1>
    <div class="row">
        <div class="col">
            <form action="" th:action="@{/states}" method="get" class="mb-3">
                <div class="input-group">
                    <select class="form-select" name="name" placeholder="Select Your State" id="selectState">
                        <option th:each="state : ${allStates}" th:text="${state.name}"></option>
                    </select>
                    <button id="searchButton" type="button" class="btn btn-primary">Search</button>
                </div>
            </form>
            <h3>States : </h3>
            <ul class="list-group"  id="allStatesList">

            </ul>

        </div>
    </div>
</div>
    <script  th:src="@{js/states.js}">

    </script>
</main>
</body>
</html>